@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
    --font-stack: "Poppins", sans-serif;
  
    --primary-color: #96695E;
    --primary-color-dark: #96695E;
    --secondary-color: #96695E;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #F3F6FA;

    --max-width: 1200px;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --font-small:200px;
    --font-medium:16px;
    --font-large:800px
    
}

body {
    font-family: "Poppins", Arial;
    font-weight: var(--font-medium);
    color: var(--text-dark);
    line-height: var(--line-height-normal);
    overflow-x: hidden;
    padding-bottom: 30px;
    overflow-y: auto; /* Enable vertical scrolling */

  }

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: var(--extra-light);
}

::-webkit-scrollbar-thumb{
  background:var(--primary-color);
  border-radius: 10px;
}

  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F3F6FA;
    z-index: 99;
  }

  .row {
    max-width: var(--container-max-width);
    margin: 0 auto;
  }

  .nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav .nav__content img {
    width: min(15rem, 100%);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: var(--primary-color-dark);
  }
  
  nav .checkbox {
    display: none;
  }
  
  nav input {
    display: none;
  }

  nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-dark);
    transition: 0.3s;
  }
  
  ul li a:hover {
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
    border-width: 4px;
  }
    
        /* ----- Buttons and Links ----- */

    a {
        color: var(--white);
        font-weight: 400;
        font-family: 'Jost', sans-serif;
        transition: all .2s;
        outline: 2px solid transparent;
    }
    
    ::-moz-focus-inner {
        border: 0;
    }
    
    button:focus,
    a:focus {
        outline: 2px solid var(--primary-color-dark);
    }
    
    body:not(.user-is-tabbing) button:focus,
    body:not(.user-is-tabbing) a:focus {
        outline: none;
    }
    
    .link:hover {
        color: var(--primary-color-dark);
    }
    
    .btn {
        position: relative;
        display: inline-block;
        padding: 1rem 4.2rem;
        text-decoration: none;
        color: inherit;
        border: 1px solid  var(--primary-color-dark);
        font-weight: 400;
    }
    
    .btn:focus {
        outline: none;
    }
    
    .btn::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 100%;
        background: var(--white);
        height: 100%;
        z-index: -1;
        transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
    }
    
    .btn:hover::after,
    .btn:focus::after {
        right: 0;
        background: var(--primary-color-dark);
    }
    
    .btn--pink {
        background: var(--primary-color-dark);
        transition: all 0.2s;
    }
    
    .btn--pink::after {
        display: none;
    }
    
    .btn--pink:hover,
    .btn--pink:focus {
        background: transparent;
    }
    
    .link__text {
        position: relative;
        display: inline-block;
        padding: .6rem;
        color: inherit;
        text-decoration: none;
    }
    
    .link__text::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 100%;
        background: var(--white);
        height: 100%;
        z-index: -1;
        transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
    }
    
    .link__text:focus {
        outline: none;
    }
    
    
    .link__text span {
        padding-left: 1rem;
        font-family: sans-serif;
    }


  /* ----- Home ----- */

  #home {
    background-color: var(--extra-light);
  }
  
  .section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
  }
  
  .subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0.5rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 0.5px;
  }
  
  .title span {
    font-weight: 600;
  }
  
    .container{
      width: 246px;
      overflow: hidden;
      margin-left: -3px;
      margin-bottom: 17px;

  }

  .container .text{
      position: relative;
      color: var(--primary-color-dark);
      font-size: 30px;
      font-weight: 600;
      margin-left: 2px;
  }

  .container .text.first-text{
      color: black;
  }

  .text.sec-text:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--extra-light);
      border-left: 2px solid var(--primary-color-dark);
      animation: animate 4s steps(12) infinite;
  }

  @keyframes animate{
      40%, 60%{
          left: calc(100% + 4px);
      }
      100%{
          left: 0%;
      }
  }
      
  .description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }
  
  .action__btns {
    display: flex;
    gap: 1rem;
  }
  
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .social__btns{
    display: flex;
    gap: 1rem;

  }

  .link_btn{
    height: 40px;
    margin-bottom: 32px;
  }

  .my__portfolio {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;

    
  }
  
  .my__portfolio:hover {
    opacity: 0.9;
  }
  
  .download__cv {
    color: var(--primary-color);
  }
  
  .download__cv:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
    opacity: 0.9;
  }
  
  .image {
    display: grid;
    place-items: center;
  }
  
  .image img {
    width: min(25rem, 90%);
    border-radius: 100%;
  }

  @media (max-width: 768px) {
    nav .checkbox {
      display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: calc(50vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        opacity: 0.9;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
      }
    
      nav #check:checked ~ ul {
        left: 0;
      }
    
      ul li a {
        font-size: 1.25rem;
      }

      .section__container {
        padding: 6rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
      }

      .content {
        margin-top: 1px;
      } 

      .container{
        width: 246px;
        overflow: hidden;
        margin-left: 40px;
  
      }
  
      .container .text{
          position: relative;
          color: var(--primary-color-dark);
          font-size: 30px;
          font-weight: 600;
          margin-left: 6px;
          margin-right: 6px;
      }

      .description {
        font-size: 14px;
        line-height: 1.2rem;
      }

      .image {
        width: min(10rem, 60%);
        grid-area: 1/1/2/2;
        margin: auto;
        margin-left: center;
        margin-top: 1px;
        margin-bottom: 0px;
      }

      .social__btns{
        display: flex;
        justify-content: center; 
        gap: 0.5rem;
        margin-left: 180px;
        margin-right: 180px;
      }
    
      .link_btn{
        height: 30px;
        margin-bottom: 22px;
        margin-left: 10px;
      }

      .action__btns {
        margin: auto;
      }

      .action__btns button {
        font-size: 1rem;
        font-weight: 00;
        letter-spacing: 1px;
        padding: 1rem 1rem;
        outline: none;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
      }

      .subtitle{
        margin-top: 2px;
        font-size: 0.9rem;

      }

      .title{
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 0.5px;
      }
    }

/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */

#about{
    padding-top: 100px;
}
.about__content {
    display: grid;
    grid-template-columns: 1fr  1fr;
    padding-left: 260px; 
    padding-right: 150px; 
    padding-top: 30px;
    column-gap: 60px;

    min-height: 10vh;
    max-width: var(--max-width);
    margin: auto;
  }
  
  .about__text1{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }

  .about__text2{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }

  .about__text2 span{
    font-weight: bold;
  }

  .about__text2 span1{
    font-weight: bold;
    text-decoration: underline;
  }

  .headings{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--text-light);
    padding: 0rem 1.5rem;
    margin-top: 20px;
    line-height: 1.5rem;
  }
  
  .headings2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
    padding: 0rem 1.5rem;
  }
  
  @media (max-width: 800px) {
    .about__content {
        grid-template-columns: 1fr;
        padding-left: 50px; 
        padding-right: 50px; 
        font-size: 14px;
      }
    .about__text1{
        text-align: center;
      }
      .footnote{
        margin-top: 2rem;
      }
  }
  
  @media (max-width: 769px) {
    .footnote{
      margin-top: 5rem;
    }   
  }

    /* --------------------------------------- */
    /* ----- Projects ----- */
    /* --------------------------------------- */
    
    #projects{
        padding: 10px;
        min-height: 10vh;
        max-width: var(--max-width);
        margin: auto;
    }
    
    .headings222{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
        font-weight: lighter;
        color: var(--text-light);
        padding: 0rem 1.5rem;
        margin-top: 100px;
        line-height: 1.5rem;
    }
    
    .headings22{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 3rem;
        color: var(--text-dark);
        margin-bottom: 40px;
        padding: 0rem 1.5rem;
    }
      
      .grid {
        display: grid;
        grid-template-columns: 600px 600px;
        column-gap: 20px;
        row-gap: 70px;
        justify-content: center; /* Center the grid horizontally */

      }
      
      .profile {
        width: 600px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        vertical-align: top;
      }
      
      .profile-picture {
        width: 600px;
        height: 300px;
        object-fit: cover;
        margin-bottom: 12px;
        cursor: pointer;
      }

      .profile-picture:hover{
        opacity: 0.9;
        cursor: pointer;

      }
      
      .name {
        font-size: 18px;
        font-weight: bold;
        margin-left: 15px;
        margin-bottom: 5px;
        font-size: 2rem;
        line-height: 40px;
    }
      
      .mutual-friends-row {
        display: grid;
        align-items: center;
        margin-left: 8px;
        margin-bottom: 10px;
        vertical-align: top;
      }
      
      .mutual-friend-picture {
        height: 36px;
        width: 36px;
        object-fit: cover;
        border-radius: 14px;
        vertical-align: middle;
        margin-left: 14px;
      }
      
      .mutual-friends {
        color: rgb(100, 100, 100);
        margin-left: 20px;
      }

      .mutual-friends span {
        font-style: italic;
        
      }

      .html-btn {
          background-color: #e34c26;          ;
          color: white;
          border: none;
          padding: 5px 10px;
          border-radius: 40px;
          font-size: 12px;
          margin-left: 18px;
          margin-bottom: 10px;
      }

      .wix-btn{
        background-color: black;        
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 40px;
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 10px;
      }

      .css-btn {
        background-color: #264de4;        
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 40px;
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 10px;
      }

      .js-btn {
        background-color: #f0db4f;        
        color: #323330;
        border: none;
        padding: 5px 10px;
        border-radius: 40px;
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 10px;
      }

      .c-btn {
        background-color: #a200ff;        
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 40px;
        font-size: 12px;
        margin-left: 18px;
        margin-bottom: 10px;
      }

      .sql-btn {
        background-color: #264de4;        
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 40px;
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 10px;
      }

      
      .add-friend-button {
        font-weight: 600;
        background-color: var(--primary-color-dark);
        color: white;
        border: none;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
        font-size: 16px;
        margin-left: 18px;
        margin-bottom: 10px;
      }

      .add-friend-button:hover,
      .add-friend-button:focus:after {
        opacity: 0.9;
      }


      @media (max-width: 1234px) {
        .grid {
            grid-template-columns: 500px;
          }
          .profile {
            width: 500px;
          }
          
          .profile-picture {
            width: 500px;
            margin-bottom: 12px;
          }
      }

      @media (max-width: 630px) {
        .grid {
            grid-template-columns: 300px;
          }
          .profile-picture {
            width: 300px;
            height: 150px;
            margin-bottom: 12px;
          }
          .profile {
            width: 300px;
          }
          .name {
            font-size: 20px;
            line-height: 20px;
        }
          
          .mutual-friend-picture {
            height: 34px;
            width: 34px;
          }
          
          .mutual-friends {
            font-size: 13px;
          }
    
          .mutual-friends span {
            font-size: 17px; 
          }
          
          .add-friend-button {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 3px;
            padding-right: 3px;
            border-radius: 6px;
            font-size: 12px;
          }
          
          ::-webkit-scrollbar{
            display: none;
          } 

          .html-btn {
            font-size: 10px;
            margin-left: 18px;
            margin-bottom: 10px;
        }
  
        .css-btn {
          font-size: 10px;
          margin-left: 10px;
          margin-bottom: 10px;
        }
  
        .js-btn {
          font-size: 10px;
          margin-left: 10px;
          margin-bottom: 10px;
        }
  
        .c-btn {
          font-size: 10px;
          margin-left: 18px;
          margin-bottom: 10px;
        }
  
        .sql-btn {
          font-size: 10px;
          margin-left: 10px;
          margin-bottom: 10px;
        }

        .wix-btn{
          font-size: 10px;
          margin-left: 10px;
          margin-bottom: 10px;
        }
  
      }

    /* --------------------------------------- */
    /* ----- Contacts ----- */
    /* --------------------------------------- */

    #contact{
      padding: 10px;
      min-height: 10vh;
      max-width: var(--max-width);
      margin: auto;
      padding-top: 60px;
  }
    .headingsg{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.2rem;
      font-weight: lighter;
      color: var(--text-light);
      padding-top: 10px;
      margin-top: 60px;
      line-height: 1.5rem;
    }
    
    .headingsgg{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 3rem;
      color: var(--text-dark);
      margin-bottom: 1rem;
      padding: 0rem 1.5rem;
    }

    .contact__info{
      line-height: 1.5rem;
      color: var(--text-light);
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .contact__info span{
      font-weight: bold;
    }
  
    .contact__info span1{
      font-weight: bold;
      text-decoration: underline;
    }



    /* --------------------------------------- */
    /* ----- Footer ----- */
    /* --------------------------------------- */

    .footer {
      text-align: center;
      padding: var(--gutter-medium) 0 var(--gutter-normal);
    }

    .footer__social-links {
      display: flex;
      justify-content: center;
      padding: var(--gutter-normal) 0;
      list-style: none;
      margin-top: 200px;
    }

    .footer__social-link-item:not(:last-of-type) {
      margin-right: var(--gutter-small);
    }

    .footer__social-image {
      height: 4rem;
    }

    .footer__github-buttons {
      display: flex;
      justify-content: center;
    }

    .footer__github-buttons iframe {
      height: 2.5rem;
      width: 84px;
      transform: translateY(3px);
    }

    .footnote{
      color: black;
    }

    @media(max-width: 500px) {
      .footer {
          font-size: 14px;
      } 
      .footnote{
        font-size: 12px;
      }
    }

      
   

    
    

