@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
    --font-stack: "Poppins", sans-serif;
  
    --primary-color: #96695E;
    --primary-color-dark: #96695E;
    --secondary-color: #96695E;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #F3F6FA;

    --max-width: 1200px;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --font-small:200px;
    --font-medium:16px;
    --font-large:800px
}

body {
    font-family: "Poppins", Arial;
    font-weight: var(--font-medium);
    color: var(--text-dark);
    line-height: var(--line-height-normal);
    overflow-x: hidden;
    padding-bottom: 100px;
  }
  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F3F6FA;
    z-index: 99;
  }

  .row {
    max-width: var(--container-max-width);
    margin: 0 auto;
  }

  .nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .nav__content img {
    width: min(15rem, 100%);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: var(--primary-color-dark);
  }
  
  nav .checkbox {
    display: none;
  }
  
  nav input {
    display: none;
  }

  nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-dark);
    transition: 0.3s;
  }
  
  ul li a:hover {
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
    border-width: 4px;
  }
  

  /* ----- Home ----- */

  #home {
    background-color: var(--extra-light);
  }
  
  .section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
  }
  
  .subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0.5rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .title span {
    font-weight: 600;
  }
  
  .description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
  }
  
  .action__btns {
    display: flex;
    gap: 1rem;
  }
  
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .my__portfolio {
    background-color: var(--primary-color);
    color: #ffffff;
  }
  
  .my__portfolio:hover {
    opacity: 0.9;
  }
  
  .download__cv {
    color: var(--primary-color);
  }
  
  .download__cv:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
    opacity: 0.9;
  }
  
  .image {
    display: grid;
    place-items: center;
  }
  
  .image img {
    width: min(25rem, 90%);
    border-radius: 100%;
  }

  @media (max-width: 768px) {
    nav .checkbox {
      display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
      }
    
      nav #check:checked ~ ul {
        left: 0;
      }
    
      ul li a {
        font-size: 1.25rem;
      }
    
      .section__container {
        padding: 6rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
      }

      .content {
        margin-top: 1px;
      } 

      .description {
        font-size: 12px;
        line-height: 1.2rem;
    }
      .image {
        width: min(20rem, 40%);
        grid-area: 1/1/2/2;
        margin: auto;
        margin-bottom: 1px;
      }

      .action__btns {
        margin: auto;
      }
    }

/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */

.about__content {
    display: grid;
    grid-template-columns: 1fr  1fr;
    padding: 16px;
    column-gap: 10px;

    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
  }
  
  .about__text{
    position: absolute; 
    top: 155%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    font-size: 16px;
    color: var(--text-light);
    flex-direction: column;
    text-align: center;
    padding: 0px;
  }
  
  .headings{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--text-light);
    padding: 0rem 1.5rem;
    margin-top: 20px;
    line-height: 1.5rem;
  }
  
  .headings2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
    padding: 0rem 1.5rem;
  }
  
    
    

